* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: orange;
}

body {
    background-image: radial-gradient(blue, whitesmoke);
    font-size: 2rem;
    min-height: 100vh;
    max-width: 800px;
    margin:  auto;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
}

h1 {
    color: #fff;
    text-align: center;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    border-bottom: 2px solid #333;
    padding: 1rem;
}

a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px 5px #333;
}

a:hover,
a:focus {
    color: black;
}